.gallery-brand {
  display: flex;
  padding-top: 15px;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.gallery-brand__icon {
  margin-right: 22px;
}

.info__collection {
  font-size: 14px;
}

.info__collection a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.info__collection a:hover {
  color: orangered;
}

.info__collection span {
  color: #999999;
}

.gallery-brand .info__rate .rating__stars {
  font-size: 12px;
  display: inline-flex;
}

.gallery-brand .info__rate .rating__caption {
  font-size: 14px;
}

.top-selling__list > * + * {
  border-top: 1px solid #ccc;
}
