.product-cart-item {
  position: relative;
  transition: 0.5s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.product-cart-item:hover {
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
}

.product-cart-item__img {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  width: 80px;
}

.product-cart-item__name {
  font-size: 1.7rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
}

.product-cart-item__name:hover {
  opacity: 0.8;
}

.product-cart-item__remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #7a7a7a;
  transition: 0.4s;
  padding: 5px;
}

.product-cart-item__remove:hover {
  color: #a8a8a8;
}

.product-cart-item__category {
  margin-top: 3px;
  font-size: 1.3rem;
  color: #484848 !important;
}

@media (max-width: 720px) {
  .max-720-padding {
    margin: 0px 50px !important;
    padding: 10px 30px !important;
  }
}
