.range-slider {
  height: 5px;
  position: relative;
  background-color: #d1d1d1;
  border-radius: 2px;
}

.range-selected {
  height: 100%;
  position: absolute;
  left: 30%;
  right: 30%;
  border-radius: 5px;
  background-color: #444;
}

.range-scroll {
  position: relative;
}

.range-scroll input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.range-scroll input::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  /* border: 3px solid #444; */
  background-color: #444;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}
