.category__item {
  background-color: #fff;
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  transition: all 0.7s ease 0s;
  height: 100px;
  padding: 15px 25px;
}

.category__item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  scale: 1.02;
}

.category__item-information {
  width: 170px;
}

.category__item-name {
  font-size: 16px;
  margin-bottom: 7px;
}

.category__item-img {
  width: 75px;
  height: 75px;
  text-align: right;
  transition: all 0.7s ease 0s;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #d4d4d4;
  background-color: #e9e9e9;
}
