.product-details__review__wrapper {
  padding: 30px;
  /* border: 3px solid #001d49; */
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
}

.product-details__review {
  display: flex;
  padding: 0;
  gap: 10px;
  align-items: center;
  /* border-bottom: 1px solid #cfcfcf; */
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.product-details__review__heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  /* font-weight: 600; */
}

.product-details__review__heading strong {
  font-size: 2rem;
  text-transform: uppercase;
}

.product-details__review__list-wrapper {
  margin-top: 30px;
  /* background-color: #999; */
  height: 383px;
  overflow-y: scroll;
}

.product-details__review__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.product-details__review__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-details__review__name {
  font-weight: 600;
}

.product-details__review__time {
  font-size: 1.4rem;
  color: #888;
}

.star__rating {
  margin-top: 5px;
}

.product-details__review__content {
  margin-top: 5px;
  font-size: 1.5rem;
  text-align: justify;
}

.product-details__review__no {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-details__review__show {
  display: flex;
  gap: 15px;
}

.product-details__review__show-option {
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  color: #666;
}

.product-details__review__show-option:hover {
  color: rgb(0, 87, 193);
}

.product-details__review__footer {
  display: flex;
  justify-content: space-between;
}
