.carousel-indicators [data-bs-target] {
  height: 3px !important;
  width: 35px;
}

.btn-slider.active {
  background-color: rgb(255, 255, 255, 0.6) !important;
}

@media ((min-width: 992px) and (max-width: 1200px)) {
  :root {
    --slider-height-laptop: 330px;
  }
}

@media ((min-width: 768px) and (max-width: 992px)) {
  :root {
    --slider-height-laptop: 250px;
  }
}

@media ((min-width: 576px) and (max-width: 768px)) {
  :root {
    --slider-height-laptop: 200px;
  }
}

@media (max-width: 576px) {
  :root {
    --slider-height-laptop: 150px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  transition: 0.4s;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
