.products {
  width: 100%;
}

.products__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.products__info button {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .products__heading {
    font-size: 24px;
  }
}

.dataTable__action {
  display: flex;
  gap: 15px;
}

.dataTable__action img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
