.contact {
  margin-top: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.contact__heading {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
}

.contact__info {
  text-align: center;
  line-height: 1.6;
}

.contact__item {
  margin-top: 30px;
}

.contact__title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #000;
}

.contact__title span {
  color: #000;
  font-weight: 700;
}

.contact__desc {
  color: #666;
  font-size: 16px;
}

.contact__action {
  margin-top: 30px;
}

.question__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

.question__form {
  margin-top: 10px;
}

.question__form label {
  font-weight: 700;
}

#question-form__name,
#question-form__email,
#question-form__question,
#question-form__phone {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 47px;
  padding: 0 15px;
  font-family: 'Nunito Sans', sans-serif;
  word-spacing: 3px;
  letter-spacing: 0.8px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.25s;
}

#question-form__question {
  padding: 20px 15px;
  height: 128px;
  resize: none;
}

#question-form__name:hover,
#question-form__email:hover,
#question-form__question:hover,
#question-form__phone:hover {
  border: 1px solid #000;
  outline: none;
}

#question-form__name:focus,
#question-form__email:focus,
#question-form__question:focus,
#question-form__phone:focus {
  border: 1px solid #000;
  outline: none;
}

.question-form__btn {
  margin-bottom: 20px;
  padding: 8px 30px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 999px;
  transition: 0.25s;
  cursor: pointer;
}

.contact__map iframe {
  width: 100%;
  height: 500px;
}
