.hottest-product-wrapper {
  margin-top: 20px;
  padding-top: 10px;
  height: calc(var(--product-card-height) + 20px);
  overflow: hidden;
}

.hottest-product-list {
  transition: 0.5s;
}

.hottest-product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hottest-product-owl-nav {
  border: 1px solid #cac8c8;
  background-color: #fff;
  border-radius: 25px;
  height: 32px;
  width: 65px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hottest-product-owl-nav svg {
  font-size: 1.5rem;
  padding: 0 8px;
  margin-top: 3px;
}
