.online-time__item {
  text-align: center;
}

.online-time__item h3 svg {
  color: orangered;
  font-size: 2.1rem;
  margin-right: 8px;
}

.online-time__item-list {
  margin-top: 15px;
  color: #666;
}
