.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input,
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  display: flex;
  align-items: center;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 1.5rem !important;
}

.css-1d1r5q-MuiFormHelperText-root.Mui-error {
  font-size: 1rem !important;
  margin-top: 6px !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 1.5rem !important;
}
