.order-detail__row {
  height: 80px !important;
}

.order-detail__row:last-child {
  height: 35px !important;
}

.order-detail__row td:nth-child(3) {
  max-width: 300px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.order-detail__row td:nth-child(4),
.order-detail__row td:nth-child(6) {
  color: rgb(231, 0, 0);
  font-weight: 600;
}
