@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --logo-image-height: 60px;
  --text-color: #333;
  --navbar-height: 80px;
  --slider-height-laptop: 435px;
  --product-card-height: 320px;
  --body-background-color: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  background-color: var(--body-background-color);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}
